<!DOCTYPE html>
<html>
    <head>
        <title>Here's your brand new movie synopsis ! enjoy :)</title>
        <link rel="stylesheet" href="../static/css/result_style.css" />
    </head>
    <body>
        <div class="generated-all-elems-div">
            <h1 class="category-type-title"> The movie's category : {{category}} </h1>
            <div class="generated-synopsis-div">
                <p class="generated-synopsis-p">
                    {{generated_synopsis}}
                </p>
            </div>
        </div>

    </body>
</html>